:root {
    --paragrafh-color: #9A9A9A;
    --header-color: #fff;
}

::-webkit-scrollbar {
    width: .25em;
    height: .25em;
    background: #333;
}

::-webkit-scrollbar-thumb {
    background: #00CBFF;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif !important;
    font-size: 16px;
background: url('../images/special/newbg3.png');
}

#header {
    width: 100%;
    height: 100vh;/*
    background-image: url('../images/homepage/To_cs.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;*/
}

#bottom {
    width: 100%;
    height: 100%;/*
    background-image: url('../images/homepage/To_cs.png');
    background-repeat: no-repeat;
    background-size: cover;*/
}

#planets {
    width: 100%;
    height: 100%;/*
    background-image: url('../images/homepage/planety.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
    z-index: 1;
}

#logo-link {
    color: #fff !important;
}

.container-fluid {
    width: 80%;
}

#nav {
    width: 100%;
    z-index: 10;
    position: relative;
}

#nav-title {
    text-align: center;
    margin: 0;
    line-height: 23px;
    color: var(--header-color);
    padding-top: 15px;
    padding-bottom: 5px;
}

#nav-title-bar {
    width: 32px;
    margin: auto;
    border-color: #00CBFF;
}

#nav-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#nav-container a {
    color: #fff;
    text-decoration: none;
    line-height: 23px;
    margin: auto 20px;
}

#buyNow {
    color: #000 !important;
    padding: 15px 0;
    border-radius: 5px;
    background: #00CBFF;
    line-height: 23px;
    width: 134px;
    min-width: 134px;
    text-align: center;
box-shadow: 0 0 10px 10px rgba(0,203, 255, 0.5);
}

#registerNow {
	color: #000 !important;
	padding: 15px 0;
	border-radius: 89px;
	background: #00CBFF;
	line-height: 23px;
	width: 134px;
	min-width: 134px;
	text-align: center;
}

.title {
    font-size: 50px;
    color: var(--header-color);
    font-weight: 500;
}

.medium-title {
    font-size: 30px;
    color: var(--header-color);
    font-weight: 500;
}

.small-title {
    font-size: 20px;
    color: var(--header-color);
    font-weight: 500;
}

.description {
    color: var(--paragrafh-color);
    letter-spacing: 3px;
    font-weight: 300;
    font-size: .9em;
}

#left-side {
    width: 872px;
    height: 240px;
    position: absolute;
    top: 45%;
    left: 20%;
    transform: translate(-20%);
    float: left;
}

.row {
    padding: 30px;
}

.mobile-block-view {
    display: none;
}

.desktop-block-view {
    display: block;
}

#hamburger-button {
    background: transparent;
    outline: none;
    border: none;
    width: 32px;
    height: 32px;
    margin: 0 auto;
    color: #fff;
    font-size: 1.2rem;
    margin-top: 10px;
}

#left-blue-button {
    text-align: center;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    background: #00CBFF;
    border: none;
    border-radius: 5px;
    width: 188px;
    height: 43px;
    outline: none;
    line-height: 43px;
    color: #000;
box-shadow: 0 0 10px 10px rgba(0,203, 255, 0.5);
}
#left-insta-button {
    text-align: center;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    background: linear-gradient(to right, #F2BE41, #E900C2);
    border: none;
    border-radius: 5px;
    width: 188px;
    height: 43px;
    outline: none;
    line-height: 43px;
    color: #000;
box-shadow: 0 0 10px 10px linear-gradient(to right, #F2BE41, #E900C2);
}
#left-discord-button {
    text-align: center;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    background: #738ADB;
    border: none;
    border-radius: 5px;
    width: 188px;
    height: 43px;
    outline: none;
    line-height: 43px;
    color: #000;
box-shadow: 0 0 10px 10px rgba(115,138, 219, 0.5);
}
#left-email-button {
    text-align: center;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    border: none;
    border-radius: 5px;
    width: 188px;
    height: 43px;
    outline: none;
    line-height: 43px;
    color: #000;
    background: linear-gradient(to right, #6feb3e, #48b81c);
box-shadow: 0 0 10px 10px rgba(0,203, 255, 0.5);
}

#left-empty-button {
    background: transparent;
    border: 1px solid #fff;
    border-radius: 89px;
    width: 204px;
    height: 43px;
    line-height: 23px;
    outline: none;
    color: #fff;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-align: center;
    line-height: 43px;
}

#contact-buttons {
    justify-content: start;
    align-items: flex-start;
}

#contact-buttons > div {
    margin: 0 10px;
}

.p-0 {
    padding: 0 !important;
}

.m-0 {
    margin: 0 !important;
}

/* Laptopy */
@media(max-width: 1480px) {
    .title {
        font-size: 40px;
    }

    #right-side img {
        width: 390px;
        height: 452px;
    }

    #right-side {
        width: 900px;
    }

    #clicker-preview {
        width: 520px;
        height: 450px;
        margin-right: 3rem;
    }
}

/* Tablety */
@media(max-width: 1260px) {
    #right-side {
        width: 100%;
        right: 50%;
        transform: translate(50%);
    }

    #left-side {
        z-index: 2;
    }

    #clicker-preview {
        width: 420px;
        height: 400px;
        margin-right: 3rem;
    }

    #mobile-nav {
        position: fixed;
        top: 0;
        right: 0;
        width: 0;
        height: 100vh;
        z-index: 100;
        transition: all 1s ease;
        background-image: url('../images/homepage/To_cs%402x.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border: none;
    }

    #mobile-nav-bg {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('../images/homepage/planety%402x.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: left;
    }

    #mobile-nav-content {
        width: 100%;
        color: #fff;
        text-align: center;
    }

    #mobile-nav-content a {
        width: 80%;
        margin: auto;
        padding: 20px 0;
        font-size: 1.3rem;
        display: block;
        color: #fff;
    }

    #close-mobile-nav {
        font-size: 2em;
        color: #ccc;
        width: 64px;
        height: 64px;
        padding: 10px 20px;
        cursor: pointer;
    }
}

/* Telefony */
@media(max-width: 992px) {
    #header {
        height: calc(100vh + 40px);
    }

    .mobile-block-view {
        display: block;
    }

    .desktop-block-view {
        display: none !important;
    }

    #clicker-preview {
        width: 100%;
        max-width: 416px;
        max-height: 310px;
        height: calc(100% - 10px);
        margin-right: 0;
    }

    #left-side {
        width: 100%;
        z-index: 2;
        text-align: center;
    }

    #right-side img {
        width: 320px;
        height: 382px;
    }

    .title {
        font-size: 30px;
    }

    .description {
        font-size: .7em;
    }

    .mt-10 {
        margin-top: 3rem !important;
    }

    #left-empty-button {
        margin-top: 10px;
    }

    .stats-container {
        margin: 20px auto;
        transition: 1s;
    }

    #partners-logo {
        width: 200px;
        height: 90px;
    }

    #footer-logo {
        width: 126px;
        height: 147px;
        display: block;
        margin: auto;
    }

    .footer-link {
        display: inline-block !important;
        margin: auto 5px;
        font-size: 13px !important;
    }

    #footer-links {
        width: 100% !important;
        margin-top: 20px !important;
    }

    #contact-buttons {
        display: block !important;
    }

    #contact-buttons div {
        margin: 20px auto;
    }
}

.mt-10 {
    margin-top: 10rem;
}

.stats-header {
    color: var(--paragrafh-color) !important;
}

.stats-count {
    color: #fff !important;
    font-weight: 500;
}

#partners-left,
#partners-right {
    font-size: 1.4rem;
    color: #fff;
    line-height: 120px;
}

#partners-container {
    justify-content: space-between;
    align-items: center;
}

.uziblue-title {
    color: #00CBFF !important;
    font-size: 20px;
    font-weight: 500;
}

.footer-link {
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    display: block;
    text-align: left;
}

.uziblue-link {
    color: #00CBFF;
    margin-top: 10px;
}

.uziblue-description {
    color: #00CBFF;
}

#footer-links {
    width: 200px;
    margin: auto;
}

#footer-logo {
    width: 146px;
    height: 167px;
}

#social-container {
    justify-content: space-around;
    align-items: center;
}

.fs-12 {
    font-size: 12px !important;
}
